@import './css/variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
    font-size: 62.5%;
    font-family: $font;
}

button{
    font-family: $font;
}

#root{
    font-size: 1.6rem;
}

@import './css/NavBar';
@import './css/CartWidget';
@import './css/Cart';
@import './css/ItemListContainer';
@import './css/ItemCount';
@import './css/ItemList';
@import './css/Item';
@import './css/ItemDetailContainer';
@import './css/ItemDetail';
